In [2]:
import numpy as np
import pandas as pd

In [3]:
dataset = pd.read_csv("titanic.csv")

In [3]:
dataset.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [4]:
min_r = dataset["Age"].min()

In [5]:
max_r = dataset["Age"].max()

In [6]:
range=max_r-min_r

In [8]:
print(range)

79.58

In [1]:
dataset.head(10)

NameError: name 'dataset' is not defined